<%- include('header') %>


<div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <img src="conformOrder.jpg" alt="" width="50%">
            <a href=""><button class="btn btn-danger ml-5">Back To Home</button></a>
        </div>
    </div>
</div>

<%- include('footer') %>