<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <style>
        .navbar {
            background-color: #000;
            color: #fff;
            height: 80px;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 24px;
        }
        .left-box {
            overflow: hidden;
        }
        .featured-image {
            height: 50vh;
            overflow: hidden;
        }
        .form-container {
            padding: 20px;
        }
        /* Set the width of the input and button to 100% */
        .form-group input,
        .form-group button {
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <div class="navbar navbar-light w-100 h-25 p-2 border-bottom justify-content-sm-center  bg-black text-white ">
            <div class="navbar navbar-light border-bottom d-flex justify-content-around bg-white fixed-top " style="height:80px">
                <div style="font-family: 'Inter', sans-serif; font-weight:bold; font-size: 24px; color: #000000;">
                    Exclusive
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid mb-5 mt-5">
        <div class="row mt-5">
            <div class="col-md-6 left-box">
                <div class="featured-image">
                    <img src="/forgot.png" class="img-fluid" style="width: 100%" alt="hahahh">
                </div>
            </div>
            
            <div class="col-md-6 form-container mt-5">
                <div class="col-md-12">
                    <h1 style="font-family: Inter; font-size: 36px; font-weight: 500; line-height: 30px;">Forgot Password</h1>
                    <h1 style="font-family: Poppins; font-size: 16px; font-weight: 400; line-height: 24px; letter-spacing: 0em; text-align: left;">
                        No worries. Enter your account email address and we will share a reset page
                    </h1>
                </div>
                <form action="/user/forgot" method="POST" name="forgot" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="exampleInputEmail1"></label>
                        <input
                            type="email"
                            name="email"
                            class="form-control border-bottom mb-1"
                            style="border: 0; box-shadow: none"
                            id="email"
                            aria-describedby="emailHelp"
                            placeholder="Enter your Email  "
                            
                        />

                        <button
                            id="login-button"
                            type="submit"
                            class="btn btn-block text-center btn-danger bg-danger"
                            style="font-family: Poppins; font-size: 16px; font-weight: 500; line-height: 24px; letter-spacing: 0em;"
                        >
                            Login
                        </button>
                        <div id="email-validation-message" class="text-danger"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('footer')%>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-Cf3v4uMTlxtSb+SHrM+8dz0lsz9e0I/+r5XtIjwPgveLOtj4zDf+GEPtJXT6wrwE" crossorigin="anonymous"></script>

</body>
<script>
function validateForm() {
    var emailInput = document.getElementById('email');
    var email = emailInput.value.trim();
    var isValid = true;

    // Check for empty input
    if (email.length === 0) {
        document.getElementById('email-validation-message').innerText = 'Email is required.';
        isValid = false;
    } else if (!email.toLowerCase().endsWith(".com")) {
                document.getElementById('email-validation-message').innerText = "Email must end with .com";
                isValid = false;
            }

    return isValid;
}

</script>


</html>
