<%- include('header') %>
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="message-box _success _failed" style="border-bottom: solid 4px red;">
            <i class="fa fa-times-circle" aria-hidden="true" style="color: red;"></i>
            <h2 style="color: red;"> Your payment failed </h2>
            <p style="color: red;"> Try again later </p>
        </div>
    </div>
</div>
<%- include('footer') %>
