<%- include('header') %>
<body>

 <!-- Breadcrumb Block -->
    <section class="mt-5">
      <div class="bg-light py-5">
        <div class="container">
          <div class="d-flex justify-content-between">
            <h1 class="fw-bold">Contact us</h1>
            <nav class="pt-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="nav-link" href="/user-home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
  
    <main>
      <div class="container py-5">
        <div class="row g-5">
     <!-- Contact Information Block -->
          <div class="col-xl-6">
            <div class="row row-cols-md-2 g-4">
              <div class="aos-item" data-aos="fade-up" data-aos-delay="200">
                <div class="aos-item__inner">
                  <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                    <div class="d-flex justify-content-start">
                      <i class="fa-solid fa-envelope h3 pe-2"></i>
                      <span class="h5">Email</span>
                    </div>
                    <span>exclusive@gmail.com</span>
                  </div>
                </div>
              </div>
              <div class="aos-item" data-aos="fade-up" data-aos-delay="400">
                <div class="aos-item__inner">
                  <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                    <div class="d-flex justify-content-start">
                      <i class="fa-solid fa-phone h3 pe-2"></i>
                      <span class="h5">Phone</span>
                    </div>
                    <span>+0123456789, +91 9207977206</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="aos-item mt-4" data-aos="fade-up" data-aos-delay="600">
              <div class="aos-item__inner">
                <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                  <div class="d-flex justify-content-start">
                    <i class="fa-solid fa-location-pin h3 pe-2"></i>
                    <span class="h5">Office location</span>
                  </div>
                  <span>vilakkileri, kakkuni, cherapuram(po), Kerala</span>
                </div>
              </div>
            </div>
            <div class="aos-item" data-aos="fade-up" data-aos-delay="800">
              <div class="mt-4 w-100 aos-item__inner">
                <iframe class="hvr-shadow" width="100%" height="345" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7815.817001332739!2d75.6894451912583!3d11.629870062913952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba680b901b63f53%3A0xe4386213274cb06e!2z4LSV4LS-4LSV4LWN4LSV4LWB4LSo4LS_LCDgtJrgtYfgtLDgtL7gtKrgtYHgtLDgtIIsIOC0leC1h-C0sOC0syA2NzM1MDc!5e0!3m2!1sml!2sin!4v1716872319272!5m2!1sml!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"><a href="https://maps.app.goo.gl/BNeZYm652RC3y1FW8"></a></iframe>
            </div>
            </div>
          </div>
  
          <!-- Contact Form Block -->
          <div class="col-xl-6 d-flex justify-content-center align-items-center bg-light hvr-shutter-out-horizontal d-block p-3">
            <a href="/user-home" class="ms-md-2 " style="font-family: 'Inter', sans-serif; font-weight:bold; font-size: 30px; text-decoration: none; color: #000000;">Exclusive</a>
        </div>
      </div>
    </main>
  
   
  </body>
  <%- include('footer')%>
